
@font-face{
	font-family:Baloo;
	src:url(fonts/Baloo-Regular.woff);
}

/*https://www.freecodecamp.org/news/css-comments-how-to-comment-out-css/#:~:text=A%20forward%20slash%20(%20%2F%20)%20and,and%20forward%20slash%20(%20*%2F%20).*/

body {
	background: rgba(245, 244, 236, 1.0);
}

h1{
	font-family: Baloo;
	font-size: 35pt;
	color: rgb(253, 221, 221, 1.0);
	-webkit-text-stroke: rgba(191, 100, 100, 1.0) 0.05pt;
	text-align: center;
	/*https://www.w3schools.com/css/css_align.asp#:~:text=To%20just%20center%20the%20text,This%20text%20is%20centered.*/
}

h2{
	font-family: Baloo;
	font-size: 20px;
	text-align: center;
	color: rgba(191, 100, 100, 1.0);
	margin-top: -40px;
	/*https://www.quora.com/How-do-I-move-text-up-in-CSS#:~:text=%C2%B7%2010mo-,To%20move%20text%20up%20in%20CSS%2C%20you%20can%20use%20the,top%20of%20its%20parent%20element.*/
}

img.rounded-corners{
	border-radius: 15px;
	/*https://ianrmedia.unl.edu/resources/rounded-corners-images#:~:text=The%20border%2Dradius%20CSS%20property%20is%20what%20adds%20the%20rounded%20corners.&text=You%20can%20experiment%20with%20different,it%20the%20way%20you%20like.&text=border%2Dradius%3A%2075px%3B,%2Dradius%3A%2050%25%3B%20.*/	
	margin: 15px;
}